@import './styles/colors';
@import './styles/tomorrow-highlightjs';
@import './styles/loader';
@import './styles/header';
@import './styles/splash_page';
@import './styles/one_plus_page';
@import './styles/mnist';

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

a {
  color: $mid_blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $light_blue;
  }
}

.container {
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

.centeredContainer {
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}

.centeredContainerTitle {
  margin-bottom: 1em;
  font-weight: bold;
  text-align: center;
}

.centeredContainerButton {
  margin-top: 1em;
}

hr {
  height: 4px;
  background-color: #DDD;
  max-width: 20%;
  border: none;
  margin: 80px auto;
}

.panels {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.panels .panel {
  text-align: center;
  width: 200px;
  padding: 20px;
  margin: 20px;
}

.panels .panel .title {
  font-weight: bold;
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }
}

.demo {
  text-align: center;
}

.note {
  font-style: italic;
}

.demoDescription {
  padding: 10px;
  border: 1px solid #EEE;
  border-radius: 2px;
  color: #999;
  font-style: italic;
}

.dataResults {
  text-align: left;
  font-family: 'Source Code Pro', monospace;
}

.dataResult {
  margin-bottom: 1em;
}

.dataResults .quiet {
  color: #CCCCCC;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottm: 1em;
}

.preloadedImageButton {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 10px;
  background: no-repeat center center / cover;
  border: 1px solid #666666;
  border-radius: 2px;
  cursor: pointer;
}
